<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Teacher</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td width='150px'><%= course.title %></td>
        <td><%= course.description %></td>
        <td width='100px'><%= course.teacher %></td>
        <td width='100px'><%= course.end_date %></td>
        <td><%= link_to 'Register', register_path(course), class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- < link_to 'New Course', new_course_path %> -->
