<h1>My Completed Courses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Teacher</th>
      <th>End date</th>
    </tr>
  </thead>

  <tbody>
    <% @my_courses.each do |course| %>
      <tr>
        <td class="column"><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= course.teacher %></td>
        <td><%= course.end_date %></td>
        <td><%= link_to 'Register', register_path(course), class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>