<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>
<p>
  <strong>Complete:</strong>
  <%= @course.complete %>
</p>
<% if @course.pdf %>
  <p>
    <strong>Certificate:</strong>
    <iframe src=<%= @course.pdf %> width="600" height="780" style="border: none;"> </iframe>
  </p>
<% end %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
