<!-- < simple_form_for @course, html: { multipart: true } do |f| %> -->
<%= form_tag({controller: "courses", action: "send_pdf"}, method: "post") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
  <!-- < f.hidden_field :title %> -->
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
  <!-- < f.hidden_field :description %> -->
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
  <!-- < f.hidden_field :teacher %> -->
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
  <%= hidden_field_tag(:end_date, @course.end_date) %>
  <!-- < params[:end_date] = @course.end_date %> -->
</p>
<p>
<!--   <strong>Complete:</strong>
  < @course.complete %> -->
  <!-- < f.hidden_field :complete %> -->
</p>
<% if @course.pdf_file_name %>
  <p>
    <strong>Certificate:</strong><br>
    <iframe src=<%= @course.pdf %> width="1000" height="775" style="border: none;"> </iframe>
    <% url = @course.pdf.s3_object.url_for(:read, :expires => 10*60) %>
    <!-- < key = @course.pdf.s3_object.key %> -->
    <%= puts url %>
    <!-- < puts key %> -->
    <%= hidden_field_tag(:pdf_url, url) %>
  </p>
  <p>
    <%= hidden_field_tag(:student_email, current_user.email) %>
    <!-- Institution_ID on skillchest.com -->
    <%= hidden_field_tag(:institution_id, 1) %>
    <%= puts 'institution_id' %>
    <!-- make this a form, and submit/post the params with it to the controller??
    when i hit the button below, I want to send the param data along with the certificate url to the controller, which will forward it on to skillchest, then redirect to another page -->
<!--     < link_to 'Send PDF to SkillChest', controller: :courses, action: :send_pdf, method: :submit %> -->
    <%= submit_tag "Send PDF to SkillChest", class: "btn btn-warning" %>
    <!-- submit_tag "Edit", class: "edit_button"  -->
    <!-- , notice: 'sent pdf' , class: 'btn btn-primary'
, controller: :courses, action: :send_pdf 
  -->
  </p>
<% end %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
