<!-- < simple_form_for @course, html: { multipart: true } do |f| %> -->
<%= form_tag({controller: "courses", action: "send_pdf"}, method: "post") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
  <!-- < f.hidden_field :title %> -->
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
  <!-- < f.hidden_field :description %> -->
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
  <!-- < f.hidden_field :teacher %> -->
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
  <%= hidden_field_tag(:end_date, @course.end_date) %>
  <!-- < params[:end_date] = @course.end_date %> -->
</p>
<p>
  <strong>Complete:</strong>
  <%= @course.complete %>
  <!-- < f.hidden_field :complete %> -->
</p>
<% if @course.pdf %>
  <p>
    <strong>Certificate:</strong>
    <iframe src=<%= @course.pdf %> width="1000" height="850" style="border: none;"> </iframe>
    <% s3 = AWS::S3.new %>
    <% bucket = s3.buckets['PDF_transfer'] %>
    <% bucket.objects.each do |obj| %>
      <%= puts obj.key %>
    <%end%>
    <% obj = s3.buckets['PDF_transfer'].objects['courses/pdfs/000/000/001/original/John_Smith_Firebreathing_101_Certificate.pdf'] %>
    <% url = bucket.objects.obj.url_for(:read, :expires => 10*60) %>
    <%= puts url %>
    <% hidden_field_tag(:pdf_url, url %>
  </p>
  <p>
    <!-- make this a form, and submit/post the params with it to the controller??
    when i hit the button below, I want to send the param data along with the certificate url to the controller, which will forward it on to skillchest, then redirect to another page -->
<!--     < link_to 'Send PDF to SkillChest', controller: :courses, action: :send_pdf, method: :submit %> -->
    <%= submit_tag('Send PDF to SkillChest') %> 
    <!-- , notice: 'sent pdf' , class: 'btn btn-primary'
, controller: :courses, action: :send_pdf 
  -->
  </p>
<% end %>
<!-- < end %> --> <!-- end form -->
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
