<p id="notice"><%= notice %></p>
<%= simple_form_for @course, html: { multipart: true } do |f| %>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>
<p>
  <strong>Complete:</strong>
  <%= @course.complete %>
</p>
<% if @course.pdf %>
  <p>
    <strong>Certificate:</strong>
    <iframe src=<%= @course.pdf %> width="1000" height="850" style="border: none;"> </iframe>
  </p>
  <p>
    <!-- make this a form, and submit/post the params with it to the controller??
    when i hit the button below, I want to send the param data along with the certificate url to the controller, which will forward it on to skillchest, then redirect to another page -->
    <%= link_to 'Send PDF to SkillChest', controller: :courses, action: :send_pdf, method: :submit %>
    <!-- , notice: 'sent pdf' , class: 'btn btn-primary'-->
  </p>
<% end %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
